/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Colors */
    --prim-pink: hsl(322, 100%, 66%);
    --prim-l-pink: hsl(321, 100%, 78%);
    --prim-l-red: hsl(0, 100%, 63%);
    --neu-v-d-cyan: hsl(192, 100%, 9%);
    --neu-v-p-blue: hsl(207, 100%, 98%);

    /* Fonts */
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* -------------------- 
    Default Element Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-body);
    font-size: 14px;
    text-align: center;
    color: var(--neu-v-d-cyan);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
}
header div {
    text-align: left;
}
header img {
    width: 65%;
}
header button {
    border: 1px solid var(--prim-pink);
    border-radius: 25px;
    box-shadow: 0 0 5px;
    color: var(--prim-pink);
    background: white;
    padding: 0.5rem;
    width: 100px;
}
h1, 
h2,
h3 {
    font-family: var(--ff-headings);
}
footer {
    color: white;
    background-color: var(--neu-v-d-cyan);
    text-align: left;
    padding: 3rem 1rem;
    position: relative;
}
address {
    margin-bottom: 2rem;
}
address img {
    margin-right: 1rem;
}
/* -------------------- 
    Section Styles
---------------------*/
.img-size {
    width: 100%; /* Within the div container */
}
.illustration {
    margin-bottom: 4rem;
}

/* Landing Section */
.landing-section {
    margin: 0 1rem 6rem 1rem;
}
.landing-section h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 24px;
}
.landing-section p {
    line-height: 1.5;
    margin-bottom: 2rem;
}
.landing-section button {
    margin-bottom: 5rem;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 75%;
    color: white;
    background-color: var(--prim-pink);
    font-weight: 900;
}

/* Stats Section */
.stats-section {
    margin: 10rem 5rem;
    text-align: left;
}
.stats {
    margin-bottom: 4rem;
}
.stats div {
    font-size: 60px;
    font-weight: 700;
}
.stats p {
    text-align: center;
}

/* Benefits Section */
.benefits-section h3 {
    margin-bottom: 1.5rem;
}
.gt-section {
    background-color: var(--neu-v-p-blue);
    padding: 4rem 1rem 3rem 1rem;
    position: relative;
}
.fc-section {
    margin: 13rem 1rem;
}
.yu-section {
    background-color: var(--neu-v-p-blue);
    padding: 0 1rem 5rem 1rem;
    margin-bottom: 13rem;
    position: relative;
}
/* CTA Section */
.cta-section {
    margin: 3rem 1rem 13rem 1rem;
}
.cta-section h2 {
    font-size: 24px;
    margin-bottom: 2rem;
}
.cta-section button {
    padding: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 75%;
    color: white;
    background-color: var(--prim-pink);
    font-weight: 900;
}

/* Newsletter Section */
.newsletter-section {
    margin-bottom: 4rem;
}
.newsletter-section h3 {
    font-family: var(--ff-body);
    font-size: 20px;
    margin-bottom: 1rem;
}
.newsletter-section p {
    line-height: 1.75;
    margin-bottom: 1.5rem;
}
.newsletter-section input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    margin-bottom: 1.5rem;
}
.newsletter-section button {
    width: 50%;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: var(--prim-pink);
    font-weight: 900;
    margin-left: 50%;
    margin-right: auto;
}

/* Business Section */
.logo-n-txt {
    margin-bottom: 2rem;
}
.logo-n-txt div {
    width: 60%;
    margin-bottom: 1rem;
}
.logo-n-txt p {
    line-height: 1.5;
}
.phone-number {
    margin-bottom: 1rem;
}
.social-media {
    display: flex;
}
.social-media a {
    width: 10%;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

/* Attribution Section */
.attribution {
    text-align: center;
}
.attribution a {
    text-decoration: none;
    color: var(--prim-pink);
}
.attribution a:hover {
    color: var(--neu-v-p-blue);
}

/* -------------------- 
    BG Image Styles
---------------------*/
.bg-section-top-1 {
    height: 101px;
    width: 100%;
    background-image: url("images/bg-section-top-mobile-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -100px;
    left: 2px;
}
.bg-section-bottom-1 {
    height: 101px;
    width: 100%;
    background-image: url("images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -100px;
    left: 2px;
}
.bg-section-top-2 {
    height: 100px;
    width: 100%;
    background-image: url("images/bg-section-top-mobile-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -100px;
    left: 2px;

}
.bg-section-bottom-2 {
    height: 100px;
    width: 100%;
    background-image: url("images/bg-section-bottom-mobile-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: -100px;
    left: 0px;
}
.bg-footer {
    height: 101px;
    width: 100%;
    background-image: url("images/bg-footer-top-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -76px;
    left: 0;
}
/*----------------------------------------------------------------------------
    Lg Mobile Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 400px) {
    /* -------------------- 
        Section Styles
    ---------------------*/
    /* Stats Section */
    .stats-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* Benefits Section */
    .fc-section {
        margin: 13rem 1rem 20rem 1rem;
    }

    /* -------------------- 
        BG Image Styles
    ---------------------*/
    .bg-section-top-1 {
        height: 152px;
        top: -151px;
    }
    .bg-section-top-2 {
        height: 152px;
        top: -152px;
    }
    .bg-section-bottom-2 {
        height: 171px;
        bottom: -170px;
    }
}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {
    /* -------------------- 
        Default Element Styles
    ---------------------*/
    header {
        margin: 2rem 3rem;
    }
    footer {
        padding: 3rem;
    }
    /* -------------------- 
        Section Styles
    ---------------------*/

    /* Landing Section */
    .landing-section {
        margin: 0 3rem 6rem 3rem;
    }
    .landing-section button {
        width: 50%;
    }

    /* Benefits Section */
    .gt-section {
        padding: 4rem 3rem 3rem 3rem;
    }
    .fc-section {
        margin: 13rem 3rem;
    }
    .yu-section {
        padding: 0 3rem 5rem 3rem;
    }
    
    /* CTA Section */
    .cta-section {
        margin: 19rem 3rem 15rem 3rem;
    }
    .cta-section button {
        width: 50%;
    }
    /* Business Section */
    .logo-n-txt div {
        width: 45%;
    }
    .social-media a {
        width: 5%;
    }
    /* -------------------- 
        BG Image Styles
    ---------------------*/
    .bg-section-top-1 {
        height: 200px;
        top: -200px;
    }
    .bg-section-top-2 {
        height: 200px;
        top: -200px;
    }
    .bg-section-bottom-2 {
        height: 200px;
        bottom: -200px;
    }
}

/*----------------------------------------------------------------------------
    Lg Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 800px) {

    /* -------------------- 
        BG Image Styles
    ---------------------*/
    .bg-section-top-1 {
        height: 200px;
        top: -200px;
    }
    .bg-section-top-2 {
        height: 200px;
        top: -200px;
    }
    .bg-section-bottom-2 {
        height: 200px;
        bottom: -200px;
    }
}
/*----------------------------------------------------------------------------
    Small Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 900px) {
    /* -------------------- 
        General Styles
    ---------------------*/
    header {
        margin: 2rem 3rem;
    }
    header button:hover {
        cursor: pointer;
        border: 1px solid var(--prim-l-pink);
        color: var(--prim-l-pink);
    }
    footer {
        padding: 5rem;
    }
    /*--------------------- 
        Specific Styles
    ---------------------*/
    .content-container {
        display: flex;
        flex-direction: row-reverse;
        margin: 0 5rem;
    }
    .illustration {
        margin-bottom: 0;
    }
    .container {
        display: flex;
        flex-direction: row-reverse;

    }

    /* Landing Section */
    .landing-section {
        margin: 0 5rem 6rem 5rem;
    }
    .landing-section h1 {
        font-size: 48px;
    }
    .landing-section p {
        font-size: 20px;
    }
    .landing-section button {
        width: 45%;
        font-size: 20px;
        padding: 1.25rem;
        border-radius: 50px;
    }
    .landing-section button:hover {
        cursor: pointer;
        background-color: var(--prim-l-pink);
    }

    /* Stats Section */
    .stats-section {
        flex-direction: row;
        justify-content: space-between;
        margin: 10rem 10rem 15rem 10rem;
    }
    
    /* Benefits Section */
    .benefits-section h3 {
        font-size: 40px;
    }
    .benefits-section p {
        font-size: 16px;
    }
    .gt-section-txt {
        text-align: left;
        margin-right: 2rem;
    }
    .fc-section {
        margin-bottom: 15rem;
    }
    .fc-section .content-container {
        flex-direction: row;
    }
    .fc-section-txt {
        text-align: left;
        margin-left: 2rem;
    }
    .yu-section .content-container {
        padding-top: 5rem;
    }
    .yu-section-txt {
        text-align: left;
        margin-right: 2rem;
    }

    /* CTA Section */
    .cta-section {
        margin: 15rem 3rem;
    }
    .cta-section h2 {
        font-size: 40px;
    }
    .cta-section button {
        width: 45%;
        font-size: 20px;
        padding: 1.25rem;
        border-radius: 50px;
    }
    .cta-section button:hover {
        cursor: pointer;
        background-color: var(--prim-l-pink);
    }

    /* Newsletter Section */
    .newsletter-section h3 {
        font-size: 24px;
    }
    .email-container {
        display: flex;
        flex-direction: row;
    }
    .email-container input {
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .email-container button {
        margin: 0;
    }
    .email-container button:hover {
        cursor: pointer;
        background-color: var(--prim-l-pink);
    }
    /* Business Section */
    .business-section {
        margin-right: 4rem;
    }
    .social-media a {
        width: 10%;
    }

    /* -------------------- 
        BG Image Styles
    ---------------------*/
    .bg-section-top-1 {
        background-image: url("images/bg-section-top-desktop-1.svg");
        height: 103px;
        top: -103px;
        left: 0;
    }
    .bg-section-bottom-1 {
        background-image: url("images/bg-section-bottom-desktop-1.svg");
        height: 101px;
        bottom: -100px;
        left: 0px;
    }
    .bg-section-top-2 {
        background-image: url("images/bg-section-top-desktop-2.svg");
        height: 103px;
        top: -103px;
        left: 0;
    }
    .bg-section-bottom-2 {
        background-image: url("images/bg-section-bottom-desktop-2.svg");
        height: 101px;
        bottom: -100px;
        left: 0px;
    }
    .bg-footer {
        background-image: url("images/bg-footer-top-desktop.svg");
        height: 100px;
        top: -98px;
    }
}
/*----------------------------------------------------------------------------
    720p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}

/*----------------------------------------------------------------------------
    1080p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}

/*----------------------------------------------------------------------------
    1440p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 2500px) {

}

/*----------------------------------------------------------------------------
    4k Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 3800px) {

}