/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Colors */
    --prim-pink: hsl(322, 100%, 66%);
    --prim-l-pink: hsl(321, 100%, 78%);
    --prim-l-red: hsl(0, 100%, 63%);
    --neu-v-d-cyan: hsl(192, 100%, 9%);
    --neu-v-p-blue: hsl(207, 100%, 98%);

    /* Fonts */
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* -------------------- 
    Just Element Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--ff-body);
    font-size: 14px;
    text-align: center;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
}
header div {
    text-align: left;
}
header img {
    width: 65%;
}
header button {
    border: 1px solid var(--prim-pink);
    border-radius: 25px;
    box-shadow: 0 0 5px;
    color: var(--prim-pink);
    background: white;
    padding: 0.5rem;
    width: 100px;
}
main {
    margin: 0 1rem;
}
/* -------------------- 
    Section Styles
---------------------*/
.img-size {
    width: 100%; /* Within the div container */
}

/* Landing Section */
.landing-section {
    margin-bottom: 6rem;
}
.landing-section h1 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-family: var(--ff-headings);
    font-size: 24px;
}
.landing-section p {
    line-height: 1.5;
    margin-bottom: 2rem;
}
.landing-section button {
    margin-bottom: 5rem;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 75%;
    color: white;
    background-color: var(--prim-pink);
    font-weight: 900;
}

/* -------------------- 
    BG Image Styles
---------------------*/

/*----------------------------------------------------------------------------
    Lg Mobile Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 375px) {

}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {

}

/*----------------------------------------------------------------------------
    720p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}

/*----------------------------------------------------------------------------
    1080p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}

/*----------------------------------------------------------------------------
    1440p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 2500px) {

}

/*----------------------------------------------------------------------------
    4k Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 3800px) {

}