/*----------------------------------------------------------------------------
    Mobile Design First / Fallback
------------------------------------------------------------------------------*/

/* -------------------- 
    Variables
---------------------*/
:root {
    /* Colors */
    --prim-pink: hsl(322, 100%, 66%);
    --prim-l-pink: hsl(321, 100%, 78%);
    --prim-l-red: hsl(0, 100%, 63%);
    --neu-v-d-cyan: hsl(192, 100%, 9%);
    --neu-v-p-blue: hsl(207, 100%, 98%);

    /* Fonts */
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

/* -------------------- 
    General Styles
---------------------*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------- 
    Specific Styles
---------------------*/

/* -------------------- 
    BG Image Styles
---------------------*/

/*----------------------------------------------------------------------------
    Lg Mobile Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 375px) {

}

/*----------------------------------------------------------------------------
    Tablet Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 700px) {

}

/*----------------------------------------------------------------------------
    720p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1200px) {

}

/*----------------------------------------------------------------------------
    1080p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

}

/*----------------------------------------------------------------------------
    1440p Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 2500px) {

}

/*----------------------------------------------------------------------------
    4k Desktop Design
------------------------------------------------------------------------------*/
@media screen and (min-width: 3800px) {

}